body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #E5E2D9;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 75px;
    color: #3F3D56;
}
h2{
    color: rgba(95, 77, 77, 0.39);
    display: flex;
    align-content: flex-start;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }
  td, th {
    border: 1px solid #3F3D56;
    text-align: left;
    padding: 8px;
  }

ul li {
    list-style: none;
    display: inline;
    margin: 10%;
}


.historico{
    background-color: #DDBEA9;
    width: 500px; 
}

button{
    background-color: #87986A;
    color: #F1FAEE;
    border: 2px solid #87986A;
    font-size:20px;
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

footer{
    bottom: 0;
    position: fixed;
    width: 95%;
    text-align: center;
}
