body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #F0EFEB;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 75px;
    color: #3F3D56;
}
h2{
    color: #F72585;
    display: flex;
    align-content: flex-start;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(78, 69, 69);
}
th{
    color: #F72585;
}
ul li {
    list-style: none;
    display: inline;
    margin: 10%;
}


.historico{
    background-color: #F0EFEB;
    width: 500px; 
}

button{
    background-color: #87986A;
    color: #F1FAEE;
    border: 2px solid #87986A;
    font-size:20px;
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

button:hover{
    background-color: #F72585;
    border: 2px solid #F72585;
}


footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}
